<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' code.jquery.com 'unsafe-inline';">

    <title>Crawler</title>
    <style>
        button {
            width: 150px;
            height: 50px;
        }
        input {
            width: 500px;
            height: 25px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    {{{body}}}

</body>
</html>