<form action="/products/create" method="post">
<label for="">Tên sản phẩm</label>
<input type="text" name="name" class="name"> <br>
<label for="">giá</label>
<input type="text" name="price" class="price"> <br>
<label for="">mô tả</label>
<input type="text" name="description" class="description"> <br>
<input type="submit" value="Thêm sản phẩm">
</form>