<div>
    <a href="/user">user</a>
    <a href="/product">user</a>
    <a href="/category">category</a>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
</script>